# Mark II

In [17]:
!pip install parmap

Collecting parmap
  Downloading parmap-1.5.2-py2.py3-none-any.whl (15 kB)
WARNING: Error parsing requirements for matplotlib: [Errno 2] No such file or directory: '/home/ubuntu/miniconda3/envs/py3/lib/python3.7/site-packages/matplotlib-3.3.2.dist-info/METADATA'
Installing collected packages: parmap
Successfully installed parmap-1.5.2

In [7]:
import pandas as pd
import numpy as np
import os 
from Bio import SeqIO
import csv
import matplotlib.pyplot as plt
from collections import Counter
%matplotlib inline

from multiprocessing import Pool

num_partitions = 18 #number of partitions to split dataframe
num_cores = 20 #number of cores on your machine

## Create Bad list

In [17]:
# construct badlist
amp_uniref_df = pd.read_csv('/mnt/vdb/thesis/uniref50/amp.forNONAMP.uniref50_2400.m8', sep='\t', header=0)
amp_uniref_df

,ID_Query,ID_Target,sequence_identity,alignment_length,number_of_mismatches,number_of_gap_openings,start-position_in_query,end-position_in_query,start-position_in_target,end-position_in_target,E-value,bit_score
0,EN92515250|C|B3FJD7|phage,UniRef50_B3FJD7,1.000,2337,0,0,1,2337,1,2337,0.000000e+00,4547
1,EN92515250|C|B3FJD7|phage,UniRef50_A0A1Y0SZ10,0.466,2337,1242,0,1,2337,1,2326,0.000000e+00,1858
2,EN92515250|C|B3FJD7|phage,UniRef50_F8SJ56,0.416,2336,1353,0,1,2336,1,2318,0.000000e+00,1628
3,EN92515250|C|B3FJD7|phage,UniRef50_A0A481W507,0.365,2135,1334,0,33,2134,22,2156,0.000000e+00,1171
4,EN92515250|C|B3FJD7|phage,UniRef50_Q8SCY1,0.349,2141,1346,0,1,2141,1,2069,0.000000e+00,1119
...,...,...,...,...,...,...,...,...,...,...,...,...
10191502,jgi|Copscl1|604239|estExt_Genemark1.C_650036,UniRef50_UPI000E6E4B9B,0.726,73,20,0,59,131,2,74,2.754000e-23,104
10191503,jgi|Copscl1|604239|estExt_Genemark1.C_650036,UniRef50_A0A3B5QMM9,0.647,85,29,0,24,107,17,101,9.724000e-23,102
10191504,jgi|Copscl1|604239|estExt_Genemark1.C_650036,UniRef50_B4IPI1,0.724,69,19,0,63,131,1,69,1.827000e-22,102
10191505,jgi|Copscl1|604239|estExt_Genemark1.C_650036,UniRef50_A8JIV7,0.536,97,44,0,35,130,13,109,1.827000e-22,102
10191506,jgi|Copscl1|604239|estExt_Genemark1.C_650036,UniRef50_A0A5K3G0L3,0.688,77,24,0,53,129,3,79,1.212000e-21,99

In [18]:
bad_list = list(set(amp_uniref_df[amp_uniref_df['sequence_identity'] >=0.3]['ID_Target'].tolist())) 
len(bad_list)

304822

In [ ]:
bad_list

In [20]:
with open('/mnt/vdb/thesis/uniref50/nonAMP_Uniref_bad_list.txt', 'w') as f:
    for item in bad_list:
        f.write("%s\n" % item)

In [23]:
if "UniRef50_B4IPI1" in bad_list:
    print("True")

True

## Begin non-AMP Search

In [5]:
amp_fasta = '/mnt/vdb/thesis/amp.final.ready.fasta'
nonAMPs_csv = "/mnt/vdb/thesis/non_AMPs.3.csv"
uniref50 = "/mnt/vdb/thesis/uniref50/uniref50.excludedBadList.len2400.fasta"

In [37]:
with open(amp_fasta) as fasta_file:  # Will close handle cleanly
    identifiers = []
    lengths = []
    sequence = []
    for seq_record in SeqIO.parse(fasta_file, 'fasta'):  # (generator)
        identifiers.append(seq_record.id)
        sequence.append(str(seq_record.seq))
        lengths.append(len(seq_record.seq))

AMPs_df = pd.DataFrame(list(zip(identifiers, sequence, lengths)), columns =['ID', 'Sequence', 'length']) 
AMPs_df # 44346

,ID,Sequence,length
0,EN92515250|C|B3FJD7|phage,MAKKSVPLRKPAGSDGQGNIKVPGGPVVLDLGDFDDIFGPMESESP...,2337
1,EN54061055|C|F8SJ56|phage,MASKKTTLPKPKGINPQGSIVQLDLDDFDDLFDEDFGLPKKNSPYT...,2319
2,EN4815120|C|Q8SCY1|phage,MAKKVTLPKGQTGATGTTLGQAGNILDLSDVDDIFGDTPKAKKGSP...,2237
3,EN3016141|D|D2J8A7|bacteriocin,MAETIKGLRIDLSLKDMGVGRSITELKRSFRTLNSDLKVSSKNFEY...,1619
4,EN9175723|BD|Q93IM3|bacteriocin,MAKKKNTYKVPSIIALTLAGTALTTHHAQAADKTQDQSTNKNILND...,1564
...,...,...,...
44341,jgi|Zymar1|771619|Za111_scaffold_384_0026,MTKRTKKVGITGKYGTRYGASLRKQVKKIEISQHARYTCTFCGKVS...,92
44342,jgi|Zymbr1|3072|TI39_contig368g00016T0,MSIWLERFSAPSREQTPSPNPNRPYPASRRSAQLGPSTVPRRPGLQ...,769
44343,jgi|Zymps1|802458|Zp221_scaffold_490_00086,MAPKAQKTPTTAGKAPAGKAPAEKKEAGKKTAAATGDKKKRTKTRK...,138
44344,jgi|Zymps1|799992|Zp221_scaffold_243_00026,MQIFVKTLTGKTITLEVESSDTIDNVKSKIQDKEGIPPDQQRLIFA...,155
44345,jgi|Zymps1|796288|Zp221_scaffold_1306_00022,MSIWLERFSAPSREQTPSPNPNRPYPASRRSVQLGPSTLPRRPGLQ...,790

In [38]:
df_count=AMPs_df.groupby('length').length.count().reset_index(name='count').sort_values(['count'], ascending=False)
#df_count.to_csv('df_count.csv', index=False)
_tmp_df_count =df_count
_tmp_df_count

     length  count
9        20   1131
2        13   1119
1        12    912
7        18    873
4        15    855
..      ...    ...
728     836      1
729     839      1
730     840      1
731     842      1
863    2337      1

[864 rows x 2 columns]

In [39]:
_tmp_df_count = _tmp_df_count.sample(frac=1).reset_index(drop=True)

In [40]:
_tmp_df_count["count"].values

array([   1,   16,   16,    1,    1,  255,    5,    7,  201,    1,    1,
          6,    8,    8,    6,    7,   16,   22,    2,   15,   13,    8,
          8,    3,   16,    1,    1,    7,    3,   15,   22,    3,   15,
       1119,    2,   70,   33,   38,    1,   13,    4,    7,   53,    3,
        217,   12,  151,    1,    1,    1,    5,    9,   10,    6,   12,
          1,    3,  231,   14,    5,    3,   22,   36,    6,    1,   12,
          6,  353,   18,  217,    2,    7,   15,    4,    1,   19,    3,
          2,  310,   15,    1,    8,  912,    2,    8,    1,  359,    2,
          8,  125,   16,   26,    7,    1,   85,   31,    2,  405,    1,
          9,   17,   39,    1,    3,   14,   15,   12,   17,  285,    1,
         41,   20,   22,   10,   18,    5,    1,   13,  190,   23,    5,
        208,   19,   18,   26,   23,   28,   17,    1,   78,    1,   28,
          1,    2,    2,  559,    1,    1,    1,   54,   16,    9,    9,
          1,   25,   61,   13,    9,    1,    2,    2,    5,   29,   26,
         16,   15,    1,    3,    5,    1,  245,   36,    1,    1,    1,
         63,  313,   21,    5,  311,  280,   10,   72,   11,   63,    1,
         37,   10,  794,    1,    2,    1,    3,   13,    3,   18,   53,
        367,    1, 1131,   17,  242,   10,    5,  135,  186,   16,    5,
          4,   12,  357,    6,    2,  303,    2,    2,   20,    1,    9,
        219,    3,    2,    1,   30,    8,   38,    2,    1,   31,    5,
         25,   20,    5,    1,  297,   58,    1,   13,   12,    2,   41,
        210,   68,    7,    4,    2,    9,    2,    4,    4,   47,   11,
          4,    4,   24,   16,    4,  303,    7,   18,    1,   18,    4,
          1,   22,  177,    2,   31,    7,    6,   36,   38,   18,   17,
        248,   16,    8,    2,    7,    5,    1,  357,    1,    2,   13,
         21,    6,   25,   77,    4,   28,   39,    1,    2,   18,   49,
        120,   21,  377,    3,    1,   35,    1,    1,   24,    1,  300,
          7,   46,    3,   49,    5,    5,    1,    1,    3,  175,    1,
         27,  159,    1,   10,   23,    1,    2,    5,    8,  550,    1,
         34,   59,  130,   64,  196,  855,    3,    2,    2,   11,   23,
        541,    2,  113,  184,    1,   22,   22,    4,  302,    3,   15,
         17,   82,    1,   26,    1,   24,  326,    3,    5,    1,    1,
          1,   38,   13,    7,   11,    1,    1,    2,   21,    4,   25,
          4,  296,   13,   14,   11,   23,    8,   16,  426,    1,    9,
         36,    3,   13,    1,  244,   54,    6,   25,   78,    1,  333,
          9,   17,   63,   13,  147,   71,    3,    1,    3,   11,   22,
         25,    7,   16,    3,    5,  104,    7,    1,   26,   17,    2,
          4,   10,    5,   40,    7,    9,    4,    2,  319,    1,   17,
        557,   34,   11,    1,    1,   47,    3,    4,   15,   58,    1,
         42,   12,   12,    1,   30,    3,  249,    1,    1,   84,   22,
         15,    1,    1,  549,  405,    4,   20,    6,   11,  146,    1,
         85,    3,   19,    4,    1,    1,    3,   81,   18,    1,   12,
          1,    1,    1,    1,    1,    2,    8,   74,   81,   22,  395,
          4,   14,    1,   89,   10,    1,    6,    2,   11,    7,    5,
          6,   15,   10,    6,    2,    3,  257,    2,   69,   11,   10,
        234,   25,    1,   18,    4,    2,  313,  136,   26,    2,    1,
         21,    5,    4,    9,  143,    6,  873,  151,   17,   81,    1,
          3,    1,    2,  439,    1,    8,    2,   38,    3,    7,    2,
          7,    1,    2,   10,    2,    2,    1,   23,    6,    6,    4,
          1,   42,    1,    7,    1,   15,  171,    2,    1,    2,    3,
          2,   24,   31,    5,    3,    1,    1,    1,    7,   67,    2,
          1,   16,    1,   41,    1,    2,    1,   13,    3,   35,  296,
          3,    6,   51,    1,    2,    1,    1,    3,    1,    4,  166,
         14,    1,    3,    9,    1,    4,    4,   16,  441,   10,    2,
         18,    1,   38,   10,    5,    2,    5,   10,   13,   98,   11,
         21,    7,   80,   42,    4,    2,    2,    3,   32,    6,   16,
         23,    1,   15,   18,  147,    1,    4,   61,    1,   14,    1,
          8,    4,   19,    6,   11,   51,    1,   76,    1,    4,   65,
         19,   11,    3,   69,  563,    1,    2,    1,   22,    4,    1,
         76,  296,   18,    1,    9,    3,  127,    1,    4,    9,   27,
          4,    2,    3,    5,   22,   11,    1,    1,    2,    3,   17,
          5,    5,    1,   41,   19,    1,   23,    7,    4,    6,    3,
         30,    3,   13,   17,    1,   21,   65,   34,    3,    4,    4,
          9,   53,    8,    2,   18,  186,   30,    1,    1,    3,  425,
        181,   23,    1,    2,    5,    1,    1,    6,    1,    1,   42,
         26,  157,   27,    1,  204,  203,   20,   47,    1,   14,  168,
         82,    1,    5,    5,   19,    1,    1,    1,  182,  677,   10,
          4,    6,   15,   13,   56,  261,    2,    1,  269,    1,    2,
         25,    8,   57,   29,    1,    1,    9,   22,    2,   18,    2,
          3,    4,   58,   41,    6,    8,    2,    2,   15,   31,  430,
          1,    1,   10,   24,   74,    3,    2,   67,  480,    2,    2,
          1,    4,    1,    1,  340,    4,    3,   21,    6,  234,    1,
        555,    2,    1,    1,   23,    9,    3,    1,    4,   11,    7,
          2,   28,  166,   80,   43,   39,    9,    2,  331,    8,  318,
          2,    7,   41,    2,  292,    1,   21,  361,    1,   90,    6,
          2,   63,    6,    1,    1,    1,   86,    2,    1,   70,   18,
          4,   81,   39,    2,  147,  276,    2,   17,    1,    2,   16,
          6,    1,    6,   10,  327,   11,    5,  113,    1,   29,  619,
          1,    9,  133,    6,    8,   14])

In [44]:

num_partitions = 23 #number of partitions to split dataframe 22
num_cores = 23 #number of cores on your machine 22

In [ ]:
"""
def parallelize_dataframe(df, func):
    _tmp_df_split = np.array_split(df, num_partitions)
    non_amp_data_df = pd.DataFrame(columns=['ID','Sequence','length']) 

    _list =[ [non_amp_data_df , _tmp_df_split] ]
    
    pool = Pool(num_cores)
    _list = pool.map(func,non_amp_data_df,_tmp_df_split)
    #non_amp_data_df ,_tmp_df_count = _list[0], _list[1]
    
   # non_amp_data_df = pd.concat(non_amp_data_df)
   # _tmp_df_count = pd.concat(_tmp_df_count)
    pool.close()
    pool.join()
    return _tmp_df_count, non_amp_data_df

def find_amp(_tmp_non_amp_data_df, _tmp_df_split):
    #_tmp_non_amp_data_df, _tmp_df_count = _list[0], _list[1]
    #_tmp_df_count = pd.concat(_tmp_df_count)
    #print(type(_tmp_non_amp_data_df))
    #print("-------------------")
    #print(_tmp_df_count)
    #NonAMPs_csv = open(nonAMPs_csv, 'w')
    #NonAMPs_csv.write('"ID","Sequence","length"'+ '\n')
    record = SeqIO.parse(uniref50, "fasta")
    for seq_record in record:

        seqLen = len(str(seq_record.seq))
        # update value
        _tmp_row = _tmp_df_count.loc[ _tmp_df_count['length'] == seqLen]
        if not _tmp_row.empty and  _tmp_row['count'].values > 0:
            print (str(_tmp_row['length']) +" "+ str(_tmp_row['count']))
          #  print('"'+str(seq_record.id)+'","'+str(seq_record.seq)+'","'+ str(seqLen)+'"')
           # NonAMPs_csv.write('"'+str(seq_record.id)+'","'+str(seq_record.seq)+'","'+ str(seqLen)+'"' + '\n')
            _tmp_non_amp_data_df.append({'ID': str(seq_record.id), 'Sequence': str(seq_record.seq)
                                     , 'length': str(seqLen)},ignore_index=True)
            _tmp_df_count.at[ _tmp_row.index,'count']= _tmp_row['count'] - 1
        #elif : # shulff seqeunce and subseq
        else:
            if _tmp_df_count['count'].values.sum() == 0:
                print("stop: found every range")
                break
    #NonAMPs_csv.close()
    _list =   [_tmp_non_amp_data_df, _tmp_df_count] 
    print(_list)
    return _list
"""

In [49]:
from os import getpid

def find_amp(_tmp_df_count):
    process_id =str(getpid())
    nonAMPs_csv = "/mnt/vdb/thesis/non_amp/non_amp."+process_id+".csv"
    NonAMPs_csv = open(nonAMPs_csv, 'w')
    NonAMPs_csv.write('"ID","Sequence","length"'+ '\n')
    print(process_id+" Start")
    record = SeqIO.parse(uniref50, "fasta")
    for seq_record in record:

        seqLen = len(str(seq_record.seq))
        # update value
        _tmp_row = _tmp_df_count.loc[ _tmp_df_count['length'] == seqLen]
        if not _tmp_row.empty and  _tmp_row['count'].values > 0:
           # print (str(_tmp_row['length']) +" "+ str(_tmp_row['count']))
           # print('"'+str(seq_record.id)+'","'+str(seq_record.seq)+'","'+ str(seqLen)+'"')
            NonAMPs_csv.write('"'+str(seq_record.id)+'","'+str(seq_record.seq)+'","'+ str(seqLen)+'"' + '\n')
            
            _tmp_df_count.at[ _tmp_row.index,'count']= _tmp_row['count'] - 1
        #elif : # shulff seqeunce and subseq
                    
        else:
            if _tmp_df_count['count'].values.sum() == 0:
                print(process_id+" stop: found every range")
                break
    NonAMPs_csv.close()


from functools import partial

def parallelize_dataframe(df, func):
    _tmp_df_split = np.array_split(df, num_partitions)
        
    pool = Pool(num_cores)
    pool.map(func, _tmp_df_split)

    pool.close()
    pool.join()

In [50]:
parallelize_dataframe(_tmp_df_count, find_amp)

5653 Start5649 Start5650 Start5651 Start5652 Start5657 Start5660 Start5656 Start

5655 Start5654 Start5662 Start5661 Start



5658 Start5659 Start


5648 Start5664 Start
5667 Start5670 Start
5666 Start5663 Start
5668 Start

5665 Start


5669 Start





5662 stop: found every range
5660 stop: found every range
5665 stop: found every range
5666 stop: found every range
5664 stop: found every range
5670 stop: found every range
5653 stop: found every range
5663 stop: found every range
5654 stop: found every range
5669 stop: found every range
5649 stop: found every range
5661 stop: found every range
5667 stop: found every range
5659 stop: found every range
5650 stop: found every range
5668 stop: found every range
5648 stop: found every range
5651 stop: found every range
5652 stop: found every range
5657 stop: found every range
5655 stop: found every range
5656 stop: found every range
5658 stop: found every range

## Merge non-AMPs and Check

In [52]:
import glob

path = r'/mnt/vdb/thesis/non_amp/' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

nonAMP_df = pd.concat(li, axis=0, ignore_index=True)

In [63]:
nonAMP_df.drop_duplicates(subset=['Sequence'],inplace=True)

,ID,Sequence,length,class
0,UniRef50_A0A1A8TYG8,RVIAENQFGQSPPSVPTEPLTTKEDKSVIRNYDEEVDEAREITKVE...,86,1
1,UniRef50_A0A6M0KXJ5,EKPTWLQRRIGSRLDDPEADRTASAGDWFSYQPGPSAAATGAAPVS...,110,1
2,UniRef50_E2AEH6,PSEIQIPKITYIEKNPVQTGILSRNAEEALQVLKKKYKKPKMSEKE...,373,1
3,UniRef50_A0A0C9RFC3,TCGYNALCAVVGHNPICSCPVRFTGDPFVSCTPIPMQESPPESRDP...,111,1
4,UniRef50_F6YX83,GQCLSVGNTYTCSCPTGYSGNNCQIPPNPCLSLPCLNGGQCQTVGA...,229,1
...,...,...,...,...
44341,UniRef50_T0J8N2,MLLASTDPAALLDMIGSYQVPSEMKWISSDER,32,1
44342,UniRef50_H0HGK9,MMGNARDPVTRSIIKLLIANFERYEAFVQKLV,32,1
44343,UniRef50_A0A2X3HFW3,MAGIWNWLNSTKLFDDGQINLSVLKQLIDFLF,32,1
44344,UniRef50_A0A2V3SLD6,MEPAFQVRKKGSQQKKDFKFKKLKKTDLKCEV,32,1
44345,UniRef50_A0A1I6N211,MYLALATVINFTLFFTAIYYLVGLFSKTNNSD,32,1

In [55]:
nonAMP_df.length.describe()

count    44346.000000
mean       112.571235
std        144.993806
min         11.000000
25%         29.000000
50%         70.000000
75%        124.000000
max       2337.000000
Name: length, dtype: float64

In [54]:
AMPs_df.length.describe()

count    44346.000000
mean       112.571235
std        144.993806
min         11.000000
25%         29.000000
50%         70.000000
75%        124.000000
max       2337.000000
Name: length, dtype: float64

In [ ]:
### non AMP to FASTA

with open("/mnt/vdb/thesis/non_amp/NonAMPs.final.ready.fasta", 'w') as file:
    for index, row in df.iterrows():
        header = row['ID']
        seq = row['Sequence']
        # print(header)
        file.write('>'+ header + '\n')
        file.write(seq + '\n')
           
print("--- End of Writing ----")

## Labeling

In [57]:
# setup
nonAMP_df['class']=1
AMPs_df['class']=0

In [59]:
ready_df = pd.concat([AMPs_df,nonAMP_df], axis=0)
ready_df

,ID,Sequence,length,class
0,EN92515250|C|B3FJD7|phage,MAKKSVPLRKPAGSDGQGNIKVPGGPVVLDLGDFDDIFGPMESESP...,2337,0
1,EN54061055|C|F8SJ56|phage,MASKKTTLPKPKGINPQGSIVQLDLDDFDDLFDEDFGLPKKNSPYT...,2319,0
2,EN4815120|C|Q8SCY1|phage,MAKKVTLPKGQTGATGTTLGQAGNILDLSDVDDIFGDTPKAKKGSP...,2237,0
3,EN3016141|D|D2J8A7|bacteriocin,MAETIKGLRIDLSLKDMGVGRSITELKRSFRTLNSDLKVSSKNFEY...,1619,0
4,EN9175723|BD|Q93IM3|bacteriocin,MAKKKNTYKVPSIIALTLAGTALTTHHAQAADKTQDQSTNKNILND...,1564,0
...,...,...,...,...
44341,UniRef50_T0J8N2,MLLASTDPAALLDMIGSYQVPSEMKWISSDER,32,1
44342,UniRef50_H0HGK9,MMGNARDPVTRSIIKLLIANFERYEAFVQKLV,32,1
44343,UniRef50_A0A2X3HFW3,MAGIWNWLNSTKLFDDGQINLSVLKQLIDFLF,32,1
44344,UniRef50_A0A2V3SLD6,MEPAFQVRKKGSQQKKDFKFKKLKKTDLKCEV,32,1
44345,UniRef50_A0A1I6N211,MYLALATVINFTLFFTAIYYLVGLFSKTNNSD,32,1

In [60]:
ready_df.to_csv("/mnt/vdb/thesis/AMP_NonAMPs.ready.csv",sep=",", quotechar='"',index=False, quoting=csv.QUOTE_ALL)

In [61]:
ready_df.to_csv("../datasets/thesis/AMP_NonAMPs.ready.csv",sep=",", quotechar='"',index=False, quoting=csv.QUOTE_ALL)