In [ ]:
! conda install -c conda-forge keras==2.3.1 -y

In [1]:

# for keras 2.3.1
from tensorflow.keras.models import load_model

from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import roc_curve,auc

import glob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
def mergeDF(path,to_dir,file_name):
    appended_data = []
    for infile in glob.glob(path):
        #print(infile)
        data = pd.read_pickle(infile)
        # store DataFrame in list
        appended_data.append(data)
    result_path=to_dir+"/"+file_name
    print("Save:",result_path)
    appended_data = pd.concat(appended_data)
    appended_data.sort_values(by=['ID'], inplace=True)
    appended_data.to_pickle(result_path)
    return appended_data

def predict_DNN(path,to_dir,existing_result):
    appended_pkl = []
    for infile in glob.glob(path):  
     #print("Read:",infile)
        file_name = os.path.basename(infile)
        result_path=to_dir+"/"+file_name.replace("pkl", "ML.pkl")
        if result_path in existing_result :
        # print("found then skip : " , result)
            continue
        else:
            df = pd.read_pickle(infile)
            ready_df =df[[ "reps"]]
            
            X= np.array(df['reps'].to_list())
            y_probas = learner.predict(X)
            threshold = 0.5
            _y = np.where(y_probas > threshold, 1, 0)
            df.drop(columns=['reps'],inplace =True)
            df['class'] = _y
            #print("Save:",result_path)
            df.to_pickle(result_path) 

    print("Complete")

def read_exists_result(path):
    existing_result = []
    for infile in glob.glob(path+"/*.pkl"):
        # print(infile)
        existing_result.append(infile)
    print(len(existing_result))
    return existing_result

In [3]:
import os

deployed_path = "../Models/best_DNN_model.hdf5"
# os.environ["CUDA_VISIBLE_DEVICES"]="-1"    

# import tensorflow as tf

# with tf.device('/cpu:0'):
learner = load_model(deployed_path)
# summarize model.
learner.summary()

Model: "functional_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 1900)]            0
_________________________________________________________________
dense (Dense)                (None, 896)               1703296
_________________________________________________________________
dropout (Dropout)            (None, 896)               0
_________________________________________________________________
dense_1 (Dense)              (None, 448)               401856
_________________________________________________________________
dropout_1 (Dropout)          (None, 448)               0
_________________________________________________________________
dense_2 (Dense)              (None, 224)               100576
_________________________________________________________________
dropout_2 (Dropout)          (None, 224)               0
_________________________________________________________________
dense_3 (Dense)              (None, 112)               25200
_________________________________________________________________
dropout_3 (Dropout)          (None, 112)               0
_________________________________________________________________
dense_4 (Dense)              (None, 56)                6328
_________________________________________________________________
dropout_4 (Dropout)          (None, 56)                0
_________________________________________________________________
output_layer (Dense)         (None, 1)                 57
=================================================================
Total params: 2,237,313
Trainable params: 2,237,313
Non-trainable params: 0
_________________________________________________________________

## DECockRoach

In [4]:
path = "/mnt/vdb/DECockroach/cd100/result_2_DNN"
if not os.path.exists(path):
    os.makedirs(path)
existing_result = read_exists_result(path)

0

In [7]:
predict_DNN("/mnt/vdb/DECockroach/cd100/reps/*.pkl",path,existing_result)

Complete

In [8]:
# write result
result_df =mergeDF(path+"/*.pkl",path,"DECockroach.len15.MLResult.plk")
result_df

Save: /mnt/vdb/DECockroach/cd100/result_2_DNN/DECockroach.len15.MLResult.plk

         ID  length  class
0         0      17      0
1         1      17      0
2         3      18      0
3         4      30      0
4         5      17      0
..      ...     ...    ...
199  894298      17      0
200  894299      19      0
201  894303      17      0
202  894304      17      0
203  894305      28      0

[626569 rows x 3 columns]

In [10]:
result_df[result_df["class"]== 1]

         ID  length  class
9        10      18      1
10       12      20      1
13       16      19      1
14       17      17      1
16       19      17      1
..      ...     ...    ...
193  894288      17      1
195  894293      28      1
199  894298      17      1
201  894303      17      1
202  894304      17      1

[283272 rows x 3 columns]

## BAT

In [10]:
path = "/mnt/vdb/Bat/cd100/result_2_DNN"
if not os.path.exists(path):
    os.makedirs(path)
existing_result = read_exists_result(path)

0

In [11]:
# Predict
predict_DNN("/mnt/vdb/Bat/cd100/reps/*.pkl",path,existing_result)

Complete

In [12]:
# write result
result_df =mergeDF(path+"/*.pkl",path,"Bat.len10.MLResult.plk")
result_df

Save: /mnt/vdb/Bat/cd100/result_2_DNN/Bat.len10.MLResult.plk

          ID  length  class
0          9     275      1
1         19      47      0
2         32     151      0
3         54     199      1
4         61     152      1
..       ...     ...    ...
74  12568817      51      1
75  12568833      45      0
76  12568849     117      1
77  12568850     174      1
78  12568985     229      1

[422796 rows x 3 columns]