In [1]:
pip install -Uqq fastbook

Note: you may need to restart the kernel to use updated packages.

In case "Add persistent_workers class variable to FakeLoader " error

please downgrade py torch version by using -> `conda install pytorch==1.6.0 torchvision==0.7.0 -c pytorch` command

* https://github.com/fastai/fastai/pull/2878
* https://github.com/lgvaz/faststyle/pull/18

In [1]:
from sklearn.metrics import classification_report

from fastai.tabular.all import *
from fastai.basics import *
from fastai import *

import numpy as np
import pandas as pd

# torch.set_num_threads(10)

In [2]:
# load the baseline model
#learn.load('TubularLearner.fastAI._stage1')
deployed_path = "/home/ubuntu/data/tmp/TabularLearner.AMPS_model.fastAI"
#deployed_path = "TubularLearner.fastAI._stage2.pth"
learner = load_learner(deployed_path)

In [3]:
learner.model

TabularModel(
  (embeds): ModuleList()
  (emb_drop): Dropout(p=0.0, inplace=False)
  (bn_cont): BatchNorm1d(1900, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (layers): Sequential(
    (0): LinBnDrop(
      (0): BatchNorm1d(1900, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (1): Linear(in_features=1900, out_features=200, bias=False)
      (2): ReLU(inplace=True)
    )
    (1): LinBnDrop(
      (0): BatchNorm1d(200, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (1): Linear(in_features=200, out_features=100, bias=False)
      (2): ReLU(inplace=True)
    )
    (2): LinBnDrop(
      (0): Linear(in_features=100, out_features=2, bias=True)
    )
  )
)

In [ ]:
# Taiwan
#df1 = df.iloc[0:100000, :]
#df1 = df.iloc[100000:200000, :]
# df1 = df.iloc[200000:300000, :]
# df1 = df.iloc[300000:400000, :]
# df1 = df.iloc[400000:500000, :]
 df1 = df.iloc[500000:600000, :]
# df1 = df.iloc[600000:700000, :]
# df1 = df.iloc[700000:800000, :]
# df1 = df.iloc[800000:900000, :]
# df1 = df.iloc[900000:1000000, :]
# df1 = df.iloc[1000000:1159181, :]

In [27]:
range_ = "0_100000"
# load data
df = pd.read_pickle("/mnt/vdb/phase3/TaiwaneseOolong/TaiwaneseOolong.len20."+range_+".pkl")
ready_df =df[[ "reps"]]

## Chanage format

In [28]:
df_new = ready_df.reps.apply(pd.Series).astype(np.float64)
df_new.columns = df_new.columns.astype(str)
#to = TabularPandas(df_new , cont_names =reps_columns, y_block = CategoryBlock, splits=splits)

In [29]:
df_new

,0,1,2,3,4,5,6,7,8,9,...,1890,1891,1892,1893,1894,1895,1896,1897,1898,1899
0,0.020665,-0.087120,-0.004576,0.017043,-0.051406,0.042104,-0.371480,0.005136,-0.021118,0.158044,...,0.042619,-0.017827,-0.132588,0.029504,-0.014543,-0.003041,0.057942,0.018190,0.077245,0.058369
1,0.018558,-0.070240,-0.010409,0.019490,0.010206,0.026410,-0.267589,0.003445,-0.023524,0.110030,...,0.055154,0.026488,-0.165620,0.036420,-0.000295,-0.000485,0.030559,-0.009291,0.055296,0.028022
2,0.018146,-0.073493,0.005914,0.013146,-0.221796,0.040468,-0.382805,0.007148,-0.018032,0.243019,...,0.044702,0.077817,-0.143293,0.039628,-0.065590,0.021782,0.027498,0.041371,0.158061,0.013974
3,0.028378,-0.078475,-0.005134,0.020265,-0.097863,0.037259,-0.209004,0.008969,-0.024936,0.118281,...,0.050058,-0.031126,-0.131754,0.037749,-0.006172,0.014370,0.070848,-0.019358,0.080458,-0.027439
4,0.024801,-0.034381,0.003363,0.021473,-0.153722,0.056440,-0.469850,0.004627,-0.027651,0.113196,...,0.062207,0.099916,-0.183865,0.040621,-0.017467,0.013010,0.003599,0.044884,0.094302,0.005970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100122,0.030834,-0.037151,-0.011300,0.022651,-0.033755,0.075830,-0.504256,0.010571,-0.027775,0.166288,...,0.047475,0.073533,-0.140850,0.035583,-0.028564,0.024029,0.031093,0.091033,0.049968,0.030069
100123,0.026878,-0.034609,-0.005079,0.021830,-0.095500,0.060861,-0.518342,0.010896,-0.028003,0.105687,...,0.056465,0.184582,-0.203972,0.030271,-0.033770,0.024486,0.100032,0.091411,0.097069,0.012735
100124,0.025248,-0.029351,-0.011940,0.026072,-0.033410,0.034415,-0.405195,0.015938,-0.030145,0.262254,...,0.039374,0.088162,-0.132689,0.035901,0.014142,0.010572,0.082447,0.065291,0.093361,-0.012027
100125,0.026162,-0.040272,-0.009004,0.025087,-0.056088,0.027143,-0.301668,0.000556,-0.029398,0.229473,...,0.047969,0.080060,-0.179064,0.039999,0.006436,-0.011421,0.066963,0.050916,0.066107,-0.007719
100126,0.025469,-0.003167,-0.005837,0.024166,0.030077,0.046859,-0.438801,-0.058919,-0.029590,0.168466,...,0.043263,0.090226,-0.170189,0.043390,-0.000040,0.003494,0.222281,0.109485,0.105361,-0.003481

## Predict
To get prediction on a new dataframe, you can use the test_d

In [30]:
dl = learner.dls.test_dl(df_new)
_preds,_none ,_y = learner.get_preds(dl=dl, with_decoded=True)

In [31]:
df['class'] = _y
df.drop(columns=['reps'],inplace =True)
df.to_pickle("/mnt/vdb/phase3/TaiwaneseOolong/results/TaiwaneseOolong.len20."+range_+".MLResult.pkl")
df

            ID  class
0            0      1
1            1      1
2            2      1
3            3      0
4            4      1
...        ...    ...
100122  100122      1
100123  100123      1
100124  100124      0
100125  100125      1
100126  100126      0

[100000 rows x 2 columns]

In [15]:
len(_y)

100000

## -- Merge Results --

In [32]:
appended_data = []
for infile in glob.glob("/mnt/vdb/phase3/TaiwaneseOolong/results/TaiwaneseOolong.len20.*.pkl"):
    print(infile)
    data = pd.read_pickle(infile)
    # store DataFrame in list
    appended_data.append(data)

/mnt/vdb/phase3/TaiwaneseOolong/results/TaiwaneseOolong.len20.400000_500000.MLResult.pkl
/mnt/vdb/phase3/TaiwaneseOolong/results/TaiwaneseOolong.len20.100000_200000.MLResult.pkl
/mnt/vdb/phase3/TaiwaneseOolong/results/TaiwaneseOolong.len20.600000_700000.MLResult.pkl
/mnt/vdb/phase3/TaiwaneseOolong/results/TaiwaneseOolong.len20.700000_800000.MLResult.pkl
/mnt/vdb/phase3/TaiwaneseOolong/results/TaiwaneseOolong.len20.0_100000.MLResult.pkl
/mnt/vdb/phase3/TaiwaneseOolong/results/TaiwaneseOolong.len20.1000000_1159181.MLResult.pkl
/mnt/vdb/phase3/TaiwaneseOolong/results/TaiwaneseOolong.len20.200000_300000.MLResult.pkl
/mnt/vdb/phase3/TaiwaneseOolong/results/TaiwaneseOolong.len20.800000_900000.MLResult.pkl
/mnt/vdb/phase3/TaiwaneseOolong/results/TaiwaneseOolong.len20.900000_1000000.MLResult.pkl
/mnt/vdb/phase3/TaiwaneseOolong/results/TaiwaneseOolong.len20.500000_600000.MLResult.pkl
/mnt/vdb/phase3/TaiwaneseOolong/results/TaiwaneseOolong.len20.300000_400000.MLResult.pkl

In [33]:
# see pd.concat documentation for more info
appended_data = pd.concat(appended_data)
appended_data

            ID  class
401096  401096      1
401097  401097      1
401098  401098      1
401099  401099      0
401100  401100      1
...        ...    ...
401091  401091      1
401092  401092      1
401093  401093      1
401094  401094      1
401095  401095      1

[1049920 rows x 2 columns]

In [39]:
appended_data['ID'] = appended_data.ID.astype(int)
appended_data.sort_values(by=['ID'], inplace=True)
appended_data

              ID  class
0              0      1
1              1      1
2              2      1
3              3      0
4              4      1
...          ...    ...
1058124  1058124      0
1058125  1058125      1
1058126  1058126      0
1058127  1058127      1
1058128  1058128      1

[1049920 rows x 2 columns]

In [40]:
appended_data.to_pickle("/mnt/vdb/phase3/TaiwaneseOolong/results/TaiwaneseOolong.len20.MLResult.pkl")