In [ ]:

# for keras 2.3.1
from tensorflow.keras.models import load_model

import glob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import os
# os.environ["CUDA_VISIBLE_DEVICES"]="-1"  
deployed_path = "/mnt/vdb/thesis/ProtCNN.set9.h5"
  
import tensorflow as tf
#with tf.device('/cpu:0'):
learner = load_model(deployed_path)
learner.summary()

Model: "functional_3"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_3 (InputLayer)            [(None, 1900, 1)]    0
__________________________________________________________________________________________________
conv1d_6 (Conv1D)               (None, 1900, 256)    512         input_3[0][0]
__________________________________________________________________________________________________
batch_normalization_6 (BatchNor (None, 1900, 256)    1024        conv1d_6[0][0]
__________________________________________________________________________________________________
activation_4 (Activation)       (None, 1900, 256)    0           batch_normalization_6[0][0]
__________________________________________________________________________________________________
conv1d_7 (Conv1D)               (None, 1900, 256)    65792       activation_4[0][0]
__________________________________________________________________________________________________
batch_normalization_7 (BatchNor (None, 1900, 256)    1024        conv1d_7[0][0]
__________________________________________________________________________________________________
activation_5 (Activation)       (None, 1900, 256)    0           batch_normalization_7[0][0]
__________________________________________________________________________________________________
conv1d_8 (Conv1D)               (None, 1900, 256)    196864      activation_5[0][0]
__________________________________________________________________________________________________
add_2 (Add)                     (None, 1900, 256)    0           conv1d_8[0][0]
                                                                 conv1d_6[0][0]
__________________________________________________________________________________________________
batch_normalization_8 (BatchNor (None, 1900, 256)    1024        add_2[0][0]
__________________________________________________________________________________________________
activation_6 (Activation)       (None, 1900, 256)    0           batch_normalization_8[0][0]
__________________________________________________________________________________________________
conv1d_9 (Conv1D)               (None, 1900, 256)    65792       activation_6[0][0]
__________________________________________________________________________________________________
batch_normalization_9 (BatchNor (None, 1900, 256)    1024        conv1d_9[0][0]
__________________________________________________________________________________________________
activation_7 (Activation)       (None, 1900, 256)    0           batch_normalization_9[0][0]
__________________________________________________________________________________________________
conv1d_10 (Conv1D)              (None, 1900, 256)    196864      activation_7[0][0]
__________________________________________________________________________________________________
add_3 (Add)                     (None, 1900, 256)    0           conv1d_10[0][0]
                                                                 add_2[0][0]
__________________________________________________________________________________________________
max_pooling1d_1 (MaxPooling1D)  (None, 633, 256)     0           add_3[0][0]
__________________________________________________________________________________________________
flatten_1 (Flatten)             (None, 162048)       0           max_pooling1d_1[0][0]
__________________________________________________________________________________________________
dense_5 (Dense)                 (None, 1211)         196241339   flatten_1[0][0]
__________________________________________________________________________________________________
batch_normalization_10 (BatchNo (None, 1211)         4844        dense_5[0][0]
__________________________________________________________________________________________________
dense_6 (Dense)                 (None, 1211)         1467732     batch_normalization_10[0][0]
__________________________________________________________________________________________________
batch_normalization_11 (BatchNo (None, 1211)         4844        dense_6[0][0]
__________________________________________________________________________________________________
dense_7 (Dense)                 (None, 1211)         1467732     batch_normalization_11[0][0]
__________________________________________________________________________________________________
batch_normalization_12 (BatchNo (None, 1211)         4844        dense_7[0][0]
__________________________________________________________________________________________________
dense_8 (Dense)                 (None, 1211)         1467732     batch_normalization_12[0][0]
__________________________________________________________________________________________________
batch_normalization_13 (BatchNo (None, 1211)         4844        dense_8[0][0]
__________________________________________________________________________________________________
dense_9 (Dense)                 (None, 1)            1212        batch_normalization_13[0][0]
==================================================================================================
Total params: 201,195,043
Trainable params: 201,183,307
Non-trainable params: 11,736
__________________________________________________________________________________________________

In [3]:
def mergeDF(path,to_dir,file_name):
    appended_data = []
    for infile in glob.glob(path):
        #print(infile)
        data = pd.read_pickle(infile)
        # store DataFrame in list
        appended_data.append(data)
    result_path=to_dir+"/"+file_name
    print("Save:",result_path)
    appended_data = pd.concat(appended_data)
    appended_data.sort_values(by=['ID'], inplace=True)
    appended_data.to_pickle(result_path)
    return appended_data

def predict_CNN(path,to_dir,existing_result):
    appended_pkl = []
    for infile in glob.glob(path):  
     #print("Read:",infile)
        file_name = os.path.basename(infile)
        result_path=to_dir+"/"+file_name.replace("pkl", "ML.pkl")
        if result_path in existing_result :
        # print("found then skip : " , result)
            continue
        else:
            df = pd.read_pickle(infile)        
            X= np.array(df['reps'].to_list())
            X_test = np.reshape(X,(X.shape[0],X.shape[1],1))
            y_probas = learner.predict(X_test)
            threshold = 0.5
            _y = np.where(y_probas > threshold, 1, 0)
            df.drop(columns=['reps'],inplace =True)
            df['class'] = _y
            #print("Save:",result_path)
            df.to_pickle(result_path) 

    print("Complete")

def read_exists_result(path):
    existing_result = []
    for infile in glob.glob(path+"/*.pkl"):
        # print(infile)
        existing_result.append(infile)
    print(len(existing_result))
    return existing_result

## DECockRoach

In [4]:
path = "/mnt/vdb/DECockroach/cd100/result_5/result_ProtCNN"
if not os.path.exists(path):
    os.makedirs(path)
existing_result = read_exists_result(path)

0

In [5]:
# Predict
predict_CNN("/mnt/vdb/DECockroach/cd100/reps/*.pkl",path,existing_result)

Complete

In [6]:
# write result
result_df =mergeDF(path+"/*.pkl",path,"DECockroach.len15.MLResult.plk")
result_df

Save: /mnt/vdb/DECockroach/cd100/result_5/result_ProtCNN/DECockroach.len15.MLResult.plk

         ID  length  class
0         0      17      1
1         1      17      0
2         3      18      0
3         4      30      0
4         5      17      0
..      ...     ...    ...
199  894298      17      1
200  894299      19      0
201  894303      17      0
202  894304      17      1
203  894305      28      0

[626569 rows x 3 columns]

In [7]:
result_df[result_df["class"]== 1]

         ID  length  class
0         0      17      1
3         4      30      1
5         6      24      1
9        10      18      1
13       16      19      1
..      ...     ...    ...
178  894268      23      1
179  894269      23      1
185  894275      31      1
191  894285      33      1
196  894294      28      1

[91993 rows x 3 columns]

## BAT

In [7]:
path = "/mnt/vdb/Bat/cd100/result_5/result_ProtCNN"
if not os.path.exists(path):
    os.makedirs(path)
existing_result = read_exists_result(path)

0

In [8]:
# Predict
predict_CNN("/mnt/vdb/Bat/cd100/reps/*.pkl",path,existing_result)

Complete

In [9]:
# write result
result_df =mergeDF(path+"/*.pkl",path,"Bat.len10.MLResult.plk")
result_df

Save: /mnt/vdb/Bat/cd100/result_5/result_ProtCNN/Bat.len10.MLResult.plk

          ID  length  class
0          9     275      0
1         19      47      0
2         32     151      0
3         54     199      1
4         61     152      1
..       ...     ...    ...
74  12568817      51      1
75  12568833      45      0
76  12568849     117      0
77  12568850     174      0
78  12568985     229      0

[422796 rows x 3 columns]

# TransPI

## BAT

In [4]:
path = "/mnt/vdb/Bat/transpi/result_9/result_ProtCNN"
if not os.path.exists(path):
    os.makedirs(path)
existing_result = read_exists_result(path)

0

In [5]:
# Predict
predict_CNN("/mnt/vdb/Bat/transpi/reps/*.pkl",path,existing_result)

Complete

In [6]:
# write result
result_df =mergeDF(path+"/*.pkl",path,"Bat.len10.MLResult.plk")
result_df

Save: /mnt/vdb/Bat/transpi/result_9/result_ProtCNN/Bat.len10.MLResult.plk

                                                   ID  length  class
0                                 SOAP.k25.C303246.p1     101      0
1                                 SOAP.k25.C303708.p1     102      1
2                                 SOAP.k25.C304032.p1     103      1
3                                 SOAP.k25.C304284.p1     104      1
4                                 SOAP.k25.C304386.p1     104      1
..                                                ...     ...    ...
0     Velvet.k61.NODE_783_length_328_cov_36.378048.p1     106      0
1    Velvet.k61.NODE_8470_length_279_cov_15.172043.p1     105      1
2    Velvet.k61.NODE_9141_length_765_cov_44.260132.p2     233      1
3   Velvet.k61.NODE_9415_length_1250_cov_53.216000.p1     367      1
4    Velvet.k61.NODE_9432_length_496_cov_51.205647.p1     163      1

[10180 rows x 3 columns]

## DECockroach

In [7]:
path = "/mnt/vdb/DECockroach/transpi/result_9/result_ProtCNN"
if not os.path.exists(path):
    os.makedirs(path)
existing_result = read_exists_result(path)

176

In [8]:
# Predict
predict_CNN("/mnt/vdb/DECockroach/transpi/reps/*.pkl",path,existing_result)

Complete

In [9]:
# write result
result_df =mergeDF(path+"/*.pkl",path,"DECockroach.len15.MLResult.plk")
result_df

Save: /mnt/vdb/DECockroach/transpi/result_9/result_ProtCNN/DECockroach.len15.MLResult.plk

                                                   ID  length  class
0                                 SOAP.k25.C372231.p1     102      0
1                                 SOAP.k25.C373809.p1     104      0
2                                 SOAP.k25.C379695.p1      95      1
3                                 SOAP.k25.C382451.p1     116      1
4                                 SOAP.k25.C383053.p1     104      1
..                                                ...     ...    ...
54  Velvet.k37.NODE_9552_length_1035_cov_12.333333.p1     102      0
55  Velvet.k37.NODE_9713_length_2207_cov_17.057997.p1     627      1
56   Velvet.k37.NODE_9748_length_894_cov_40.512302.p1     124      0
57   Velvet.k37.NODE_9800_length_726_cov_45.530304.p1     221      1
58  Velvet.k37.NODE_9843_length_1025_cov_50.463413.p1     191      0

[15424 rows x 3 columns]

# PSSM

## DECockRoach

In [4]:
path = "/mnt/vdb/DECockroach/pws/transpi/result/result_9/result_ProtCNN"
if not os.path.exists(path):
    os.makedirs(path)
    
existing_result = []
for infile in glob.glob(path+"/*.pkl"):
    # print(infile)
    existing_result.append(infile)
print(len(existing_result))

predict_CNN("/mnt/vdb/DECockroach/pws/transpi/reps/*.pkl",path,existing_result)

# write result

result_df =mergeDF(path+"/*.pkl",path,"DECockroach.len15.MLResult.plk")
result_df

0
Complete
Save: /mnt/vdb/DECockroach/pws/transpi/result/result_9/result_ProtCNN/DECockroach.len15.MLResult.plk

,ID,Sequence,length,class
0,SOAP.k25.C372231.p1,VYYRRDGKGDKEYWTCQKKPECKATAITIRTGDTVTILKESDHWHA...,102,1
1,SOAP.k25.C373809.p1,KTRLTVVGTKVINEKNNVKLKGVSKVVSLHVYRLAPDTTIEELTEY...,104,1
2,SOAP.k25.C379695.p1,MLRDYREIGNLVLCFDTPFTVDFKVIQDAALQKELIEFRCDRRLRE...,95,1
3,SOAP.k25.C382451.p1,PSPCGANAVCREQNGAGSCTCLPDYVGNPYEGCRPECVLNTDCPSN...,116,1
4,SOAP.k25.C383053.p1,FKMLTMPRRDICQIETLNLADPLMFLVRNRVCTSTMFHLLPFSYTS...,104,0
...,...,...,...,...
637,Velvet.k37.NODE_9552_length_1035_cov_12.333333.p1,EPKLVNEVNLTFHEKDGEEFMALDKNLKVTTTVKRVYMHLTNLFNG...,102,1
638,Velvet.k37.NODE_9713_length_2207_cov_17.057997.p1,MIRRWWKLFMFIMAMLLDVREAFYVPGVAPVEFRKGARIDVKAVKM...,627,1
639,Velvet.k37.NODE_9748_length_894_cov_40.512302.p1,MLNFSHHVSKTIRKKKSSKITGRFSRYKKMRTCSSLNEIYIVYIYI...,124,1
640,Velvet.k37.NODE_9800_length_726_cov_45.530304.p1,MASFEQAIQQNVMQVAKKVEEHLDAELEKLEKLDSDDLDKLREKRL...,221,1
641,Velvet.k37.NODE_9843_length_1025_cov_50.463413.p1,MAFKFVLLAAVLAVAQAGGPAAYSTYTTPIGYGSVGSTHESTVKGY...,191,1

## BAT

In [5]:
path ="/mnt/vdb/Bat/pws/transpi/result/result_9/result_ProtCNN"
if not os.path.exists(path):
    os.makedirs(path)

existing_result = []
for infile in glob.glob(path+"/*.pkl"):
    # print(infile)
    existing_result.append(infile)
print(len(existing_result))
predict_CNN("/mnt/vdb/Bat/pws/transpi/reps/*.pkl",path,existing_result)
# write result
result_df =mergeDF(path+"/*.pkl",path,"Bat.len10.MLResult.plk")
result_df

0
Complete
Save: /mnt/vdb/Bat/pws/transpi/result/result_9/result_ProtCNN/Bat.len10.MLResult.plk

,ID,Sequence,length,class
0,SOAP.k25.C303246.p1,QKVLQAAGPSTTTETETIAKYEIMDGAPVKGESIPIRLFLAGYDPT...,101,1
1,SOAP.k25.C303708.p1,PITWGRKWNIENGCARTHSQDDYSPGSQAQGESGTASHPRRGHLEM...,102,1
2,SOAP.k25.C304032.p1,LRNHSPLMSFGASFVSFLNAMMTFEEEKMQLACDDLRTTEKLCESE...,103,1
3,SOAP.k25.C304284.p1,ESTDQISPYGNSTVTQPSDSGWQYNETHTSLKQNTPRNTSKLYIGL...,104,0
4,SOAP.k25.C304386.p1,LGPDLSWAWEAKQPWGQETSLRRGEGSGLCKVGGVRVCAPPLLTPK...,104,0
...,...,...,...,...
419,Velvet.k61.NODE_783_length_328_cov_36.378048.p1,MSPSQAVYIVPSKGRLIGGLRDTPSYEHFQEDFSTCSLCTFRDLCA...,106,0
420,Velvet.k61.NODE_8470_length_279_cov_15.172043.p1,QDLENAATGDAAVHQRIASLPVEVQEVSLLDKITDKESGERLSKMV...,105,1
421,Velvet.k61.NODE_9141_length_765_cov_44.260132.p2,ARAALAMPVKGGTKCIKYLLLGFNFVFWLAGIAVLAIGLWLRFDSQ...,233,1
422,Velvet.k61.NODE_9415_length_1250_cov_53.216000.p1,MSCKPQCSLNHLPTPCARQSAPFRIPAEFLYLVLLLVEGAPFSNFS...,367,1
423,Velvet.k61.NODE_9432_length_496_cov_51.205647.p1,MAETVADTRRLITKPQNLNDAYGPPSNFLEIDVSNPQTVGVGRGRF...,163,1