In [35]:
import pickle5 as pickle
import os 
import glob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [36]:
def mergeDF(path,to_dir,file_name):
    appended_data = []
    for infile in glob.glob(path):
        #print(infile)
        data = pd.read_pickle(infile)
        # store DataFrame in list
        appended_data.append(data)
    result_path=to_dir+"/"+file_name
    print("Save:",result_path)
    appended_data = pd.concat(appended_data)
    #appended_data['ID'] = appended_data['ID'].astype(int)
    #appended_data.sort_values(by=['ID'], inplace=True)
    appended_data.to_pickle(result_path)
    return appended_data

def mergeDF_transpi(path,to_dir,file_name):
    appended_data = []
    for infile in glob.glob(path):
        #print(infile)
        data = pd.read_pickle(infile)
        # store DataFrame in list
        appended_data.append(data)
    result_path=to_dir+"/"+file_name
    print("Save:",result_path)
    appended_data = pd.concat(appended_data)
    appended_data['ID'] = appended_data['ID'].astype(int)
    appended_data.sort_values(by=['ID'], inplace=True)
    appended_data.to_pickle(result_path)
    return appended_data

def predict_withModel(path,to_dir,existing_result):
    appended_pkl = []
    for infile in glob.glob(path):  
     #print("Read:",infile)
        file_name = os.path.basename(infile)
        result_path=to_dir+"/"+file_name.replace("pkl", "ML.pkl")
        if result_path in existing_result :
        # print("found then skip : " , result)
            continue
        else:
            df = pd.read_pickle(infile)
            ready_df =df[[ "reps"]]
            
            X= np.array(df['reps'].to_list())
            _y = model.predict(X)
            df.drop(columns=['reps'],inplace =True)
            df['class'] = _y
            #print("Save:",result_path)
            df.to_pickle(result_path) 

    print("Complete")

def predictprob_withModel(path,to_dir,existing_result):
    appended_pkl = []
    for infile in glob.glob(path):  
     #print("Read:",infile)
        file_name = os.path.basename(infile)
        result_path=to_dir+"/"+file_name.replace("pkl", "ML.pkl")
        if result_path in existing_result :
        # print("found then skip : " , result)
            continue
        else:
            df = pd.read_pickle(infile)
            ready_df =df[[ "reps"]]
            
            x= np.array(df['reps'].to_list())
            threshold = 0.42
            predicted_proba = model.predict_proba(x)
            _y = (predicted_proba [:,1] >= threshold).astype('int')
            #_y = model.predict(X)
            df.drop(columns=['reps'],inplace =True)
            df['class'] = _y
            #print("Save:",result_path)
            df.to_pickle(result_path) 

    print("Complete")    
    
def read_exists_result(path):
    existing_result = []
    for infile in glob.glob(path+"/*.pkl"):
        # print(infile)
        existing_result.append(infile)
    print(len(existing_result))
    return existing_result

In [39]:
with open("/mnt/vdb/thesis/best_RF.pssm.model", 'rb') as file:
    model = pickle.load(file)
# summarize model.
model

RandomForestClassifier(random_state=42)

## DECockRoach

In [5]:
path = "/mnt/vdb/DECockroach/cd100/result_5/result_RF"
if not os.path.exists(path):
    os.makedirs(path)
existing_result = read_exists_result(path)

0

In [6]:
# Predict
predict_withModel("/mnt/vdb/DECockroach/cd100/reps/*.pkl",path,existing_result)

Complete

In [7]:
# write result
result_df =mergeDF(path+"/*.pkl",path,"DECockroach.len15.MLResult.plk")
result_df

Save: /mnt/vdb/DECockroach/cd100/result_5/result_RF/DECockroach.len15.MLResult.plk

         ID  length  class
0         0      17      1
1         1      17      0
2         3      18      0
3         4      30      1
4         5      17      0
..      ...     ...    ...
199  894298      17      0
200  894299      19      0
201  894303      17      0
202  894304      17      1
203  894305      28      0

[626569 rows x 3 columns]

In [7]:
result_df[result_df["class"]== 1]

         ID  length  class
3         4      30      1
5         6      24      1
9        10      18      1
17       20      19      1
22       27      18      1
..      ...     ...    ...
187  894280      17      1
193  894288      17      1
195  894293      28      1
201  894303      17      1
202  894304      17      1

[145054 rows x 3 columns]

In [26]:
#old
result_df[result_df["class"]== 1]

         ID  length  class
9        10      18      1
10       12      20      1
13       16      19      1
14       17      17      1
16       19      17      1
..      ...     ...    ...
193  894288      17      1
195  894293      28      1
199  894298      17      1
201  894303      17      1
202  894304      17      1

[283272 rows x 3 columns]

## BAT

In [8]:
path = "/mnt/vdb/Bat/cd100/result_5/result_RF"
if not os.path.exists(path):
    os.makedirs(path)
existing_result = read_exists_result(path)

0

In [9]:
# Predict
predict_withModel("/mnt/vdb/Bat/cd100/reps/*.pkl",path,existing_result)

Complete

In [10]:
# write result
result_df =mergeDF(path+"/*.pkl",path,"Bat.len10.MLResult.plk")
result_df

Save: /mnt/vdb/Bat/cd100/result_5/result_RF/Bat.len10.MLResult.plk

          ID  length  class
0          9     275      1
1         19      47      0
2         32     151      0
3         54     199      1
4         61     152      1
..       ...     ...    ...
74  12568817      51      1
75  12568833      45      0
76  12568849     117      1
77  12568850     174      1
78  12568985     229      1

[422796 rows x 3 columns]

# TransPI

## Bat

In [29]:
path = "/mnt/vdb/Bat/transpi/result_10_1/result_RF"
if not os.path.exists(path):
    os.makedirs(path)
existing_result = read_exists_result(path)

0

In [30]:
# Predict
#predict_withModel("/mnt/vdb/Bat/transpi/reps/*.pkl",path,existing_result)
predictprob_withModel("/mnt/vdb/Bat/transpi/reps/*.pkl",path,existing_result)

Complete

In [31]:
# write result
result_df =mergeDF(path+"/*.pkl",path,"Bat.len10.MLResult.plk")
result_df

Save: /mnt/vdb/Bat/transpi/result_10_1/result_RF/Bat.len10.MLResult.plk

                                                    ID  length  class
0    SPADES.k41.NODE_512_length_1928_cov_55.923688_...     631      1
1    SPADES.k41.NODE_5132_length_677_cov_11.740566_...     225      1
2    SPADES.k41.NODE_5134_length_676_cov_54.214173_...     224      1
3    SPADES.k41.NODE_5166_length_673_cov_61.191456_...     218      1
4    SPADES.k41.NODE_5188_length_672_cov_23.599049_...     224      1
..                                                 ...     ...    ...
638  SPADES.k25.NODE_1336_length_1434_cov_31.092974...     392      1
639  SPADES.k25.NODE_13397_length_390_cov_24.084932...     128      1
640  SPADES.k25.NODE_13409_length_390_cov_13.263014...     129      1
641  SPADES.k25.NODE_13420_length_390_cov_8.676712_...     130      1
642  SPADES.k25.NODE_13456_length_389_cov_16.554945...     129      1

[10180 rows x 3 columns]

## DECockroach

In [32]:
path = "/mnt/vdb/DECockroach/transpi/result_10_1/result_RF"
if not os.path.exists(path):
    os.makedirs(path)
existing_result = read_exists_result(path)

0

In [33]:

# Predict
#predict_withModel("/mnt/vdb/DECockroach/transpi/reps/*.pkl",path,existing_result)
predictprob_withModel("/mnt/vdb/DECockroach/transpi/reps/*.pkl",path,existing_result)

Complete

In [34]:
# write result
result_df =mergeDF(path+"/*.pkl",path,"DECockroach.len15.MLResult.plk")
result_df

Save: /mnt/vdb/DECockroach/transpi/result_10_1/result_RF/DECockroach.len15.MLResult.plk

                                                   ID  length  class
0   SPADES.k25.NODE_30088_length_748_cov_5.637621_...     103      1
1   SPADES.k25.NODE_3009_length_3585_cov_8.357865_...    1099      1
2   SPADES.k25.NODE_30119_length_747_cov_3.958449_...     248      1
3   SPADES.k25.NODE_3014_length_3583_cov_14.673974...    1007      1
4   SPADES.k25.NODE_30157_length_746_cov_4.047157_...     145      1
..                                                ...     ...    ...
79  SPADES.k37.NODE_8370_length_1898_cov_7.698549_...     495      1
80  SPADES.k37.NODE_8452_length_1889_cov_19.348272...     588      1
81  SPADES.k37.NODE_8457_length_1889_cov_10.151728...     508      1
82  SPADES.k37.NODE_8488_length_1886_cov_3.239048_...     524      1
83  SPADES.k37.NODE_8576_length_1873_cov_16.862745...     522      1

[15424 rows x 3 columns]

# PWM

## BAT-CD100

In [4]:
path = "/mnt/vdb/Bat/pws/cd100/result/result_RF"
if not os.path.exists(path):
    os.makedirs(path)
existing_result = read_exists_result(path)

0

In [32]:
# Predict
predict_withModel("/mnt/vdb/Bat/pws/cd100/reps/*.pkl",path,existing_result)

Complete

In [33]:
# write result
result_df =mergeDF(path+"/*.pkl",path,"Bat.len10.MLResult.plk")
result_df

Save: /mnt/vdb/Bat/pws/cd100/result/result_RF/Bat.len10.MLResult.plk

,ID,Sequence,length,class
0,9,EDTGFYPSEPMLCSESEEGQVPHSLETLYQSADCSSPSDALIVCIH...,275,1
1,19,ALGPSLWDRRRSLHLLLQEAFPVAQSLAQVIHHQFQTVSKQGGPLP,47,1
2,32,VGICGSDVHYWQHGRIGDFIVKKPMVLGHEASGTVVKVGSLVKHLQ...,151,1
3,54,EKPCNSNQQPLENLVEDTLINYSQFGSPKDHEHNGCKLCQTDRYCE...,199,1
4,61,AAKFVFRHNDPDHLEKLLKKSNSETPKIVAFETVHSMDGAICPLEE...,152,1
...,...,...,...,...
17611,12568817,GAWTEVGLPSQDVSVASCNCCRRPMHFELMSEWERSYFGNMGPQYV...,51,1
17612,12568833,LLLPLKVLGFLGGQLSVVVLHQPVHIIIIQLQAMDLEIFSSFAP,45,1
17613,12568849,GGQTPRTAPNPQNPPLPPFWAWSSQNVQFSFKFLILGAEPLDRFLA...,117,1
17614,12568850,VEESCTIENNSDSTKPKMAAEVDFGDLELFEAFDHPEESLPKPVHT...,174,1
17615,12568985,RKTRLTASSRKTATGQTVVLSQPALVQLQASGVLPSPQPVLAVSGG...,229,1

## DECockroach -CD100

In [28]:
path = "/mnt/vdb/DECockroach/pws/cd100/result/result_RF"
if not os.path.exists(path):
    os.makedirs(path)
existing_result = read_exists_result(path)

24

In [29]:
# Predict
predict_withModel("/mnt/vdb/DECockroach/pws/cd100/reps/*.pkl",path,existing_result)

Complete

In [30]:
# write result
result_df =mergeDF(path+"/*.pkl",path,"DECockroach.len15.MLResult.plk")
result_df

Save: /mnt/vdb/DECockroach/pws/cd100/result/result_RF/DECockroach.len15.MLResult.plk

           ID                        Sequence length  class
0           0               SSRHLQWDSTLSPHFCF     17      0
1           1               RGRCIRSSCPSSHLGWR     17      0
2           3              YSKFSLCQYYFKFCPYST     18      0
3           4  AADYKPEGLGFDSPWCHWNFSIGNPSGRTM     30      1
4           5               AIPSLPHSRRLWSPHHL     17      0
...       ...                             ...    ...    ...
26102  894298               IHCEEQQCSVRYVWCRR     17      0
26103  894299              WFDYFVSFHPFNLRNWLA     19      0
26104  894303               WPCTHNGDPCTHFGFSA     17      0
26105  894304               ETCGNQCNCDCADAGIN     17      1
26106  894305    LQPLNVLWHCMWKSLCEISECLHNLFPC     28      1

[626569 rows x 4 columns]

## BAT-Transpi

In [45]:
path = "/mnt/vdb/Bat/pws/transpi/result/result_10_1/result_RF"
if not os.path.exists(path):
    os.makedirs(path)
existing_result = read_exists_result(path)

0

In [46]:
# Predict
predictprob_withModel("/mnt/vdb/Bat/pws/transpi/reps/*.pkl",path,existing_result)

Complete

In [47]:
# write result
result_df =mergeDF(path+"/*.pkl",path,"Bat.len10.MLResult.plk")
result_df

Save: /mnt/vdb/Bat/pws/transpi/result/result_10_1/result_RF/Bat.len10.MLResult.plk

,ID,Sequence,length,class
0,SPADES.k25.NODE_10932_length_454_cov_11.496503...,WSFLPSITRKRRYVASVSLHDRIYVIGGYDGRSRLSSVECLDYTAD...,151,1
1,SPADES.k25.NODE_10933_length_454_cov_11.025641...,AQSAPRGICCFSCSRHCFSWALLRFSSSLCTDRPLSNAPRAWGDPF...,151,1
2,SPADES.k25.NODE_10937_length_454_cov_8.202797_...,RFVAEVTCLDPLRRSRLEVAKLPMTEHELESENKKWVEFACVTLKN...,151,1
3,SPADES.k25.NODE_10954_length_453_cov_22.707944...,PLRRHSPAATAAKMSTGAPAGPSAASGSNRKLQQTQNQVDEVVDIM...,124,1
4,SPADES.k25.NODE_1095_length_1556_cov_90.177662...,REAMASSSAPPATVPASTAAPGQGFGFASKTKKKHFVQQKVKVFRA...,425,1
...,...,...,...,...
419,Velvet.k61.NODE_783_length_328_cov_36.378048.p1,MSPSQAVYIVPSKGRLIGGLRDTPSYEHFQEDFSTCSLCTFRDLCA...,106,1
420,Velvet.k61.NODE_8470_length_279_cov_15.172043.p1,QDLENAATGDAAVHQRIASLPVEVQEVSLLDKITDKESGERLSKMV...,105,1
421,Velvet.k61.NODE_9141_length_765_cov_44.260132.p2,ARAALAMPVKGGTKCIKYLLLGFNFVFWLAGIAVLAIGLWLRFDSQ...,233,1
422,Velvet.k61.NODE_9415_length_1250_cov_53.216000.p1,MSCKPQCSLNHLPTPCARQSAPFRIPAEFLYLVLLLVEGAPFSNFS...,367,1
423,Velvet.k61.NODE_9432_length_496_cov_51.205647.p1,MAETVADTRRLITKPQNLNDAYGPPSNFLEIDVSNPQTVGVGRGRF...,163,1

## DECockroach - Transpi

In [48]:
path = "/mnt/vdb/DECockroach/pws/transpi/result/result_10_1/result_RF"
if not os.path.exists(path):
    os.makedirs(path)
existing_result = read_exists_result(path)

0

In [49]:
# Predict
predictprob_withModel("/mnt/vdb/DECockroach/pws/transpi/reps/*.pkl",path,existing_result)

Complete

In [50]:
# write result
result_df =mergeDF(path+"/*.pkl",path,"DECockroach.len15.MLResult.plk")
result_df

Save: /mnt/vdb/DECockroach/pws/transpi/result/result_10_1/result_RF/DECockroach.len15.MLResult.plk

,ID,Sequence,length,class
0,SPADES.k33.NODE_19516_length_1169_cov_36.48503...,MKATITLKGSRLYTVKCRFNERQFNEFASITKITVFPFLTYIRFNV...,181,1
1,SPADES.k33.NODE_19540_length_1168_cov_3.844053...,MTSKMTDGYVDVNGTPTYVITWGKWVEDKLDDSTEEIILLITGNPG...,314,1
2,SPADES.k33.NODE_19570_length_1166_cov_17.37246...,MNLYSPSDETVELVRKEFKLNDRKIKEALDHLKQWLEMQPHLPNKE...,306,1
3,SPADES.k33.NODE_19634_length_1163_cov_5.649558...,AIEEQKSINEPLTVKPITSTTSYNKNEEQKRDTGSDESQSVEDVPK...,387,1
4,SPADES.k33.NODE_19635_length_1163_cov_3.203540...,MGEKGERQFKLLPKIINGGIAGIIGVSCVFPLDLVKTRLQNQQIGP...,310,1
...,...,...,...,...
637,TransABySS.k25.S131726.p1,MIQVDESDPVGEVEPSFPYRDVVIKRGVDMKEQYDLQSELGRGKFG...,677,1
638,TransABySS.k25.S131831.p1,MPKSKRDKKVSLTKTKKKNVAFKQQLVDEIRRCVEDYKTIFVFSVQ...,252,1
639,TransABySS.k25.S131939.p1,MSKKRKICEENRSFQNTWENEFLFINNKDNKPQCLVCLQVLSVHKE...,603,1
640,TransABySS.k25.S132027.p1,MWCKTAVRNLYKSLHRQCIHTSVTCRLPLVPIVIEQTGRGERAYDI...,239,1
641,TransABySS.k25.S132735.p1,CLWDIYCVVSKRKKMLDVFKAVVTFFHRRHVQRDCLLFRLHHSVTT...,382,1