In [2]:
import pickle5 as pickle
import os 
import glob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
def mergeDF(path,to_dir,file_name):
    appended_data = []
    for infile in glob.glob(path):
        #print(infile)
        data = pd.read_pickle(infile)
        # store DataFrame in list
        appended_data.append(data)
    result_path=to_dir+"/"+file_name
    print("Save:",result_path)
    appended_data = pd.concat(appended_data,ignore_index=True)
    #appended_data.sort_values(by=['ID'], inplace=True)
    appended_data.to_pickle(result_path)
    return appended_data


def predict_withModel(path,to_dir,existing_result,model):
    appended_pkl = []
    for infile in glob.glob(path):  
     #print("Read:",infile)
        file_name = os.path.basename(infile)
        result_path=to_dir+"/"+file_name.replace("pkl", "ML.pkl")
        if result_path in existing_result :
        # print("found then skip : " , result)
            continue
        else:
            df = pd.read_pickle(infile)
            ready_df =df[[ "reps"]]
            
            X= np.array(df['reps'].to_list())
            _y = model.predict(X)
            df.drop(columns=['reps'],inplace =True)
            df['class'] = _y
            #print("Save:",result_path)
            df.to_pickle(result_path) 

    print("Complete")

def read_exists_result(path):
    existing_result = []
    for infile in glob.glob(path+"/*.pkl"):
        # print(infile)
        existing_result.append(infile)
    print(len(existing_result))
    return existing_result

In [4]:
with open("/mnt/vdb/thesis/best_SVM.model", 'rb') as file:
    model = pickle.load(file)
# summarize model.
model

SVC(C=10, gamma=0.1, probability=True, verbose=True)

## DECockRoach

In [15]:
path = "/mnt/vdb/DECockroach/cd100/result_2_SVM"
if not os.path.exists(path):
    os.makedirs(path)
existing_result = read_exists_result(path)

0

In [16]:
# Predict
predict_withModel("/mnt/vdb/DECockroach/cd100/reps/*.pkl",path,existing_result)

Complete

In [17]:
# write result
result_df =mergeDF(path+"/*.pkl",path,"DECockroach.len15.MLResult.plk")
result_df

Save: /mnt/vdb/DECockroach/cd100/result_2_SVM/DECockroach.len15.MLResult.plk

         ID  length  class
0         0      17      1
1         1      17      0
2         3      18      0
3         4      30      1
4         5      17      1
..      ...     ...    ...
199  894298      17      1
200  894299      19      0
201  894303      17      1
202  894304      17      1
203  894305      28      0

[626569 rows x 3 columns]

In [18]:
result_df[result_df["class"]== 1]

         ID  length  class
0         0      17      1
3         4      30      1
4         5      17      1
9        10      18      1
10       12      20      1
..      ...     ...    ...
195  894293      28      1
197  894295      28      1
199  894298      17      1
201  894303      17      1
202  894304      17      1

[295835 rows x 3 columns]

In [26]:
result_df[result_df["class"]== 1]

         ID  length  class
9        10      18      1
10       12      20      1
13       16      19      1
14       17      17      1
16       19      17      1
..      ...     ...    ...
193  894288      17      1
195  894293      28      1
199  894298      17      1
201  894303      17      1
202  894304      17      1

[283272 rows x 3 columns]

## BAT

In [26]:
path = "/mnt/vdb/Bat/cd100/result_2_SVM"
if not os.path.exists(path):
    os.makedirs(path)
existing_result = read_exists_result(path)

In [3]:
# Predict
predict_withModel("/mnt/vdb/Bat/cd100/reps/*.pkl",path,existing_result)

        no_con >200 >100 >70 >50 >30 30<=
shuff1      19    4    6  10  12  15    4
shuff2      28    4    7  14  18  23    5
shuff3      30    4    6  10  18  24    6
shuff4      18    4    6   8   8  12    6
shuff5      22    4    7   9  13  18    4
shuff6      29    4    7  16  19  24    5
shuff7      18    4    6   9   9  12    6
shuff8      27    4    7  12  19  24    3
shuff9      36    4    7  11  24  29    7
shuff10     19    4    6  10  11  16    3

In [ ]:
# write result
result_df =mergeDF(path+"/*.pkl",path,"Bat.len10.MLResult.plk")
result_df

# PSSM (position weight matrix)

## DECockroach - Transpi

In [7]:
path = "/mnt/vdb/DECockroach/pws/transpi/result/result_2/result_SVM"
if not os.path.exists(path):
    os.makedirs(path)
existing_result = read_exists_result(path)
# Predict
predict_withModel("/mnt/vdb/DECockroach/pws/transpi/reps/*.pkl",path,existing_result,model)
# write result
result_df = mergeDF(path+"/*.pkl",path,"DECockroach.len15.MLResult.plk")
result_df

0
Complete
Save: /mnt/vdb/DECockroach/pws/transpi/result/result_2/result_SVM/DECockroach.len15.MLResult.plk

,ID,Sequence,length,class
0,SPADES.k33.NODE_6848_length_2405_cov_14.631956...,MLRKSRTSMRFDKCLVSILNCWLARRILTILGTKSMLNNCCRLRFL...,111,1
1,SPADES.k33.NODE_6919_length_2390_cov_6.616462_...,MRQNMWNWKITFIAIVAFNLSDGDDKPCVPREYGARNIVCVCNMTY...,521,1
2,SPADES.k33.NODE_6937_length_2387_cov_15.051827...,MHRDARLSNNSVTSETKMTDHEECFLKDFFTHVANLGYDKAKELVE...,455,1
3,SPADES.k33.NODE_6963_length_2384_cov_3.982986_...,MNKRPVELFDSGEFIAVLCLIMAGVFSKGKKRKLEDEGRVFQDSWE...,313,1
4,SPADES.k33.NODE_6963_length_2384_cov_3.982986_...,MKKVINIVNFIRSREFLKELNSQYDDVIYHSEVRWLSKGRVLERFF...,209,1
...,...,...,...,...
638,SPADES.k25.NODE_1777_length_4372_cov_35.130435...,MEENNNNDKAGIDQKPRENLITTAVKFLQNPTVQKSSLAHRQAFLK...,263,1
639,SPADES.k25.NODE_17796_length_1313_cov_2.828416...,PVESVMDEGDCIVTITGFPLLGCPGFLDPEAHPDPTSGPSRSIFTP...,437,1
640,SPADES.k25.NODE_17799_length_1312_cov_88.80108...,MLYCNSVWLHRPDFSFTKGGHLLAYLKYSYYSYLKYSYCTKIQQFQ...,107,1
641,SPADES.k25.NODE_17827_length_1311_cov_5.853033...,MQYCAVLFFAAAVACAYGAELAALDPSTRVVGGTNAATGEFPFIVS...,253,1
642,SPADES.k25.NODE_17827_length_1311_cov_5.853033...,SGSSIVVVTGSIHLNSGGARHGVSRVTVHSQYNSAASWRNDIALLK...,139,1

## Bat - Transpi

In [8]:
path = "/mnt/vdb/Bat/pws/transpi/result/result_2/result_SVM"
if not os.path.exists(path):
    os.makedirs(path)
existing_result = read_exists_result(path)
# Predict
predict_withModel("/mnt/vdb/Bat/pws/transpi/reps/*.pkl",path,existing_result,model)
# write result
result_df =mergeDF(path+"/*.pkl",path,"Bat.len10.MLResult.plk")
result_df

0
Complete
Save: /mnt/vdb/Bat/pws/transpi/result/result_2/result_SVM/Bat.len10.MLResult.plk

,ID,Sequence,length,class
0,TRINITY_DN36312_c0_g1_i1.p1,MKKKKKKQSAYEMLSDPVKRRAFNSVDPTFDNSVPSKSEAKDNFFE...,108,1
1,TRINITY_DN36317_c0_g1_i1.p1,MDIPYELWNETSAEVADLKKQCDVLVEEFEEVIEDWYRNHQEQDLT...,129,1
2,TRINITY_DN36319_c0_g1_i1.p1,RGCGHSATHFLFPVLDRESYMGHTRLNPGVGRAVLPEAPKKTVSSL...,103,1
3,TRINITY_DN3631_c0_g1_i2.p1,TLNRSNGIEELETNGPYEDSGYFSFSQKSVLDEQEEASLSLEENCN...,241,1
4,TRINITY_DN36320_c0_g1_i1.p1,AVLHGKFMWVIGGYSFNYSSFQMVLNYNLENSIWNVGTLSRGPLQR...,115,1
...,...,...,...,...
419,TRINITY_DN5059_c0_g1_i5.p1,YPVVVISVHFLDYKSVHFDHKMENLMQIRELAKEVKERNILLCGLL...,402,1
420,TRINITY_DN505_c0_g1_i8.p1,MTATEQWIFLCAAHKTPKEYIQQNIRADCSNIDKILEPPEGQDEGV...,275,1
421,TRINITY_DN5067_c0_g1_i1.p1,KKAPLVSEMDDEDYERRRSECVSEMLDLEKQFSELKEKLFRERLSQ...,371,1
422,TRINITY_DN506_c0_g1_i1.p1,MRKSQERSMSYSDESRLSNLLRRITREDDRDRRLTTVKQLKEFIQQ...,397,1
423,TRINITY_DN5070_c0_g1_i1.p1,NSSFQEIEDDADVEWKFARAKLWFSYFEEGRTLPVPFNLVPSPKSL...,106,1