In [4]:
import pickle5 as pickle
import os 
import glob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from xgboost import XGBClassifier

In [5]:
def mergeDF(path,to_dir,file_name):
    appended_data = []
    for infile in glob.glob(path):
        #print(infile)
        data = pd.read_pickle(infile)
        # store DataFrame in list
        appended_data.append(data)
    result_path=to_dir+"/"+file_name
    print("Save:",result_path)
    appended_data = pd.concat(appended_data)
    appended_data.sort_values(by=['ID'], inplace=True)
    appended_data.to_pickle(result_path)
    return appended_data


def predict_withModel(path,to_dir,existing_result):
    appended_pkl = []
    for infile in glob.glob(path):  
     #print("Read:",infile)
        file_name = os.path.basename(infile)
        result_path=to_dir+"/"+file_name.replace("pkl", "ML.pkl")
        if result_path in existing_result :
        # print("found then skip : " , result)
            continue
        else:
            df = pd.read_pickle(infile)
            ready_df =df[[ "reps"]]
            
            X= np.array(df['reps'].to_list())
            _y = model.predict(X)
            df.drop(columns=['reps'],inplace =True)
            df['class'] = _y
            #print("Save:",result_path)
            df.to_pickle(result_path) 

    print("Complete")

def read_exists_result(path):
    existing_result = []
    for infile in glob.glob(path+"/*.pkl"):
        # print(infile)
        existing_result.append(infile)
    print(len(existing_result))
    return existing_result

In [6]:
# Load model 
model = XGBClassifier()
model.load_model("/mnt/vdb/thesis/best_XGBmodel.model")
# summarize model.
model

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=24, num_parallel_tree=1, random_state=42,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='auto', validate_parameters=1, verbosity=1)

## DECockRoach

In [7]:
path = "/mnt/vdb/DECockroach/cd100/result_4/result_XG"
if not os.path.exists(path):
    os.makedirs(path)
existing_result = read_exists_result(path)

0

In [8]:
# Predict
predict_withModel("/mnt/vdb/DECockroach/cd100/reps/*.pkl",path,existing_result)

Complete

In [9]:
# write result
result_df =mergeDF(path+"/*.pkl",path,"DECockroach.len15.MLResult.plk")
result_df

Save: /mnt/vdb/DECockroach/cd100/result_4/result_XG/DECockroach.len15.MLResult.plk

         ID  length  class
0         0      17      1
1         1      17      0
2         3      18      0
3         4      30      1
4         5      17      0
..      ...     ...    ...
199  894298      17      0
200  894299      19      0
201  894303      17      1
202  894304      17      1
203  894305      28      0

[626569 rows x 3 columns]

In [10]:
result_df[result_df["class"]== 1]

         ID  length  class
0         0      17      1
3         4      30      1
5         6      24      1
9        10      18      1
10       12      20      1
..      ...     ...    ...
193  894288      17      1
195  894293      28      1
196  894294      28      1
201  894303      17      1
202  894304      17      1

[196768 rows x 3 columns]

In [11]:
result_df[result_df["class"]== 1]

         ID  length  class
0         0      17      1
3         4      30      1
5         6      24      1
9        10      18      1
10       12      20      1
..      ...     ...    ...
193  894288      17      1
195  894293      28      1
196  894294      28      1
201  894303      17      1
202  894304      17      1

[196768 rows x 3 columns]

## BAT

In [12]:
path = "/mnt/vdb/Bat/cd100/result_4/result_XG"
if not os.path.exists(path):
    os.makedirs(path)
existing_result = read_exists_result(path)

0

In [13]:
# Predict
predict_withModel("/mnt/vdb/Bat/cd100/reps/*.pkl",path,existing_result)

Complete

In [14]:
# write result
result_df =mergeDF(path+"/*.pkl",path,"Bat.len10.MLResult.plk")
result_df

Save: /mnt/vdb/Bat/cd100/result_4/result_XG/Bat.len10.MLResult.plk

          ID  length  class
0          9     275      1
1         19      47      0
2         32     151      1
3         54     199      1
4         61     152      1
..       ...     ...    ...
74  12568817      51      1
75  12568833      45      1
76  12568849     117      0
77  12568850     174      1
78  12568985     229      0

[422796 rows x 3 columns]

# TransPI

## BAT

In [15]:
path = "/mnt/vdb/Bat/transpi/result_4/result_XG"
if not os.path.exists(path):
    os.makedirs(path)
existing_result = read_exists_result(path)

0

In [16]:
# Predict
predict_withModel("/mnt/vdb/Bat/transpi/reps/*.pkl",path,existing_result)

Complete

In [17]:
# write result
result_df =mergeDF(path+"/*.pkl",path,"Bat.len10.MLResult.plk")
result_df

Save: /mnt/vdb/Bat/transpi/result_4/result_XG/Bat.len10.MLResult.plk

                                                     ID  length  class
0                                   SOAP.k25.C303246.p1     101      0
1                                   SOAP.k25.C303708.p1     102      1
2                                   SOAP.k25.C304032.p1     103      1
3                                   SOAP.k25.C304284.p1     104      1
4                                   SOAP.k25.C304386.p1     104      1
...                                                 ...     ...    ...
1000    Velvet.k61.NODE_783_length_328_cov_36.378048.p1     106      1
1001   Velvet.k61.NODE_8470_length_279_cov_15.172043.p1     105      1
1002   Velvet.k61.NODE_9141_length_765_cov_44.260132.p2     233      1
1003  Velvet.k61.NODE_9415_length_1250_cov_53.216000.p1     367      1
1004   Velvet.k61.NODE_9432_length_496_cov_51.205647.p1     163      1

[11005 rows x 3 columns]

## DECockroach

In [18]:
path = "/mnt/vdb/DECockroach/transpi/result_4/result_XG"
if not os.path.exists(path):
    os.makedirs(path)
existing_result = read_exists_result(path)

0

In [19]:
# Predict
predict_withModel("/mnt/vdb/DECockroach/transpi/reps/*.pkl",path,existing_result)

Complete

In [20]:
# write result
result_df =mergeDF(path+"/*.pkl",path,"DECockroach.len15.MLResult.plk")
result_df

Save: /mnt/vdb/DECockroach/transpi/result_4/result_XG/DECockroach.len15.MLResult.plk

                                                   ID  length  class
0                                 SOAP.k25.C372231.p1     102      1
1                                 SOAP.k25.C373809.p1     104      0
2                                 SOAP.k25.C379695.p1      95      1
3                                 SOAP.k25.C382451.p1     116      1
4                                 SOAP.k25.C383053.p1     104      1
..                                                ...     ...    ...
54  Velvet.k37.NODE_9552_length_1035_cov_12.333333.p1     102      1
55  Velvet.k37.NODE_9713_length_2207_cov_17.057997.p1     627      1
56   Velvet.k37.NODE_9748_length_894_cov_40.512302.p1     124      0
57   Velvet.k37.NODE_9800_length_726_cov_45.530304.p1     221      1
58  Velvet.k37.NODE_9843_length_1025_cov_50.463413.p1     191      1

[17559 rows x 3 columns]