In [ ]:
!pip install scikit-plot
!pip install jax-unirep

Try to deal with GPU memory 
accroading to https://jax.readthedocs.io/en/latest/gpu_memory_allocation.html

In [1]:
import numpy as np
import pandas as pd
import csv
import matplotlib.pyplot as plt

from Bio import SeqIO
from jax_unirep import get_reps
from jax_unirep import evotune, fit
from jax_unirep.utils import dump_params
import os

os.environ['XLA_PYTHON_CLIENT_PREALLOCATE']='False'
os.environ['XLA_PYTHON_CLIENT_MEM_FRACTION']='.70'

/home/kongkitimanonk/.conda/envs/jupyter_NB/lib/python3.8/site-packages/jax/lib/xla_bridge.py:130: UserWarning: No GPU/TPU found, falling back to CPU.
  warnings.warn('No GPU/TPU found, falling back to CPU.')

In [2]:
fastas = "/home/kongkitimanonk/SCRATCH_NOBAK/cd-hit/bk_fasta/SRR11234331.assembly.len10.fasta"
plk = "/home/kongkitimanonk/SCRATCH_NOBAK/phase3/PoisonFrog.len10.pkl"

In [3]:
with open(fastas) as fasta_file:  # Will close handle cleanly
    identifiers = []
    lengths = []
    seqs = []
    for seq_record in SeqIO.parse(fasta_file, 'fasta'):  # (generator)
        identifiers.append(seq_record.id)
        # Remove leading and trailing characters from a string
        seqs.append(str(seq_record.seq.strip('*')))
        lengths.append(len(seq_record.seq))

In [4]:
# dictionary of lists  
dict = {'ID': identifiers, 'Sequence': seqs, 'length': lengths}  
df = pd.DataFrame(dict) 
#df["Sequence"] =  seqs
#df.to_pickle(plk)    
df

                ID                                           Sequence  length
0                0                                         MRMSWLSARV      12
1                1                                       MASQWNRNRLGK      14
2                2  VAQHRPLIPVLPERPQYSGRSLHSPAAVSMPLSDLDLLAVTDLSLS...      50
3                3                         MERIELRHANSEEGRSQKTSCRYKFF      28
4                4                           MQTLKRGGHRRLAVDTNFSEKPED      26
...            ...                                                ...     ...
19037725  19037725                                        MAFSHSSRHRL      13
19037726  19037726                                   MPRAMRKRHRSRKRES      18
19037727  19037727                                  MRRRRDRTTQRCGGLLV      19
19037728  19037728                                        MCHLLDSLVEF      13
19037729  19037729                                         MRIPYQSQQR      12

[19037730 rows x 3 columns]

Remove Duplicate

In [5]:
df.drop_duplicates(subset=['Sequence'],inplace=True)
df

                ID                                           Sequence  length
0                0                                         MRMSWLSARV      12
1                1                                       MASQWNRNRLGK      14
2                2  VAQHRPLIPVLPERPQYSGRSLHSPAAVSMPLSDLDLLAVTDLSLS...      50
3                3                         MERIELRHANSEEGRSQKTSCRYKFF      28
4                4                           MQTLKRGGHRRLAVDTNFSEKPED      26
...            ...                                                ...     ...
19037710  19037710   EPQRRSARLSAKPAPPKAEPKPKKPPAAKKADKAQKRKKGKADSGKDA      48
19037711  19037711               HLFQNLPFLFFFFELCQPSLLLVAFWALALLLEGRV      37
19037714  19037714  PEAKVGGLCSRWKDSVFVRMVLELKVTVRHPRLRIWSLWWIFNSAG...      97
19037715  19037715                                   MKKVAILQENALLLIN      18
19037724  19037724  CGLWGGQSVRTQRQLVMSDAQHVPSPAAGSELVSVLWAVGRQLLLL...     163

[5327033 rows x 3 columns]

In [ ]:
#0-1065406
#1065406-2130813
#2130813-3196219
#3196219 -4261625
#4261625-5327033
# 5327033 
df1 = datasX.iloc[:, :]
df2 = datasX.iloc[:, :]

In [ ]:
_h_avg, h_final, c_final= get_reps(df['Sequence'].to_list())
df['reps']=_h_avg.tolist()
df

In [ ]:
df.to_pickle(plk)